%h1 Edit Post
= form_for :post, url: post_path(@post), method: :patch do |f|
	- if @post.errors.any?
		- @post.errors.full_messages.each do |msg| 
			.alert.alert-danger= msg
	%p= f.label :title 
	%p= f.text_field(:title, {:class => 'form-control'})	
	%p= f.label :body 
	%p= f.text_area(:body, {:class => 'form-control'})
	%p= f.submit(:class => 'btn btn-primary') 

