%h2>= @post.title
%p= @post.body
<hr>
= link_to "Edit", edit_post_path(@post), :class => 'btn btn-primary'
= link_to "Delete", post_path(@post), method: :delete, 	data: {confirm: 'Are u sure?'},:class => 'btn btn-danger'
<hr>
 
= render 'comments/comments'
= render 'comments/form'
